data-test/elements/Create_Record_All.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Incoming_Record</name>
        <label>Assign Incoming Record</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>AnotherAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnotherAccount.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_One_Use_all_values</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Record All {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Record All</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Multiple</name>
        <label>Create Multiple</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <inputReference>ManyAccounts</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_One_Use_all_values</name>
        <label>Create One Use all values</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Create_One_Use_Separate_Resources</targetReference>
        </connector>
        <inputReference>AnotherAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_One_Use_Separate</name>
        <label>Create One Use Separate Manually Assign Variables</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignRecordIdToReference>AnotherAccount.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Multiple</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <stringValue>Hamburg</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_One_Use_Separate_Resources</name>
        <label>Create One Use Separate Resources</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Create_One_Use_Separate</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <stringValue>Hamburg</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Incoming_Record</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AnotherAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ManyAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
