data-test/elements/Delete_Records_All.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Get_Some_Variables_Ready</name>
        <label>Get Some Variables Ready</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>SomeRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManyRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SomeRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Records_Use_the_IDs</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Delete Records All {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Records All</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Records_Specify_conditions</name>
        <label>Delete Records Specify conditions</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>BillingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>France</stringValue>
            </value>
        </filters>
        <filters>
            <field>BillingCity</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paris</stringValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountry</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Germany</stringValue>
            </value>
        </filters>
        <object>Account</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Records_Use_the_IDs</name>
        <label>Delete Records Use the IDs</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Delete_Records_Use_the_IDs_record_collection_variable</targetReference>
        </connector>
        <inputReference>SomeRecord</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Records_Use_the_IDs_record_collection_variable</name>
        <label>Delete Records Use the IDs record collection variable</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Delete_Records_Specify_conditions</targetReference>
        </connector>
        <inputReference>ManyRecords</inputReference>
    </recordDeletes>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Some_Variables_Ready</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ManyRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SomeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
