data-test/elements/Get_Records_All.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <constants>
        <name>Constantfornotequal</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Foo</stringValue>
        </value>
    </constants>
    <interviewLabel>Get Records All {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Records All</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>All_Records_Automatically</name>
        <label>All Records Automatically</label>
        <locationX>176</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Records_Choose_fields_and_let_Salesforce</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Industry</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>All_records_Choose_fields_and_assign_variables</name>
        <label>All records Choose fields and assign variables</label>
        <locationX>176</locationX>
        <locationY>1415</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <object>Account</object>
        <outputReference>SomeRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>All_Records_Choose_fields_and_let_Salesforce</name>
        <label>All Records Choose fields and let Salesforce</label>
        <locationX>176</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_records_Choose_fields_and_assign_variables</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <sortField>AccountSource</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_my_records_only_the_first_Automatically_store</name>
        <label>Get my records only the first Automatically store</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Only_the_first_Automatically_With_additions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingCity</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Only_the_first_Automatically_With_additions</name>
        <label>Only the first Automatically With additions</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Only_the_first_Choose_fields_and_let_Salesforce</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>11</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountSource</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Constantfornotequal</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>BillingCity</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Only_the_first_choose_fields_and_assign_Together</name>
        <label>Only the first choose fields and assign Together</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Only_the_first_Choose_fields_assign_In_separate</targetReference>
        </connector>
        <object>Account</object>
        <outputReference>SomeAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Only_the_first_Choose_fields_and_let_Salesforce</name>
        <label>Only the first Choose fields and let Salesforce</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Only_the_first_Choose_fields_and_let_Salesforce_with_additions</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Only_the_first_Choose_fields_and_let_Salesforce_with_additions</name>
        <label>Only the first Choose fields and let Salesforce with additions</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Only_the_first_choose_fields_and_assign_Together</targetReference>
        </connector>
        <filterLogic>((1 AND 2) OR 3) AND 4</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>11</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <filters>
            <field>BillingCity</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paris</stringValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountry</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Germany</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <sortField>Sic</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Only_the_first_Choose_fields_assign_In_separate</name>
        <label>Only the first Choose fields assign In separate</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>When_no_records_are_assigned_set_null</targetReference>
        </connector>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SomeText</assignToReference>
            <field>AccountSource</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SomeBoolean</assignToReference>
            <field>IsDeleted</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>When_no_records_are_assigned_set_null</name>
        <label>When no records are assigned set null</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Records_Automatically</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Purchased List</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SomeId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_my_records_only_the_first_Automatically_store</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>SomeAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SomeBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SomeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SomeRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SomeText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
