data/AssignAFieldOfANullRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignNonExistentRecord</name>
        <label>AssignNonExistentRecord</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>LastNameOfContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RetrieveNonExistentRecord.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstNameOfContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RetrieveNonExistentRecord.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Custom_Error_Message_1</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Youhavereachedtheendoftheflow</name>
        <dataType>String</dataType>
        <value>
            <stringValue>You have reached the end of the flow</stringValue>
        </value>
    </constants>
    <customErrors>
        <name>Custom_Error_Message_1</name>
        <label>Custom Error Message 1</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Last_Element_Update_Contact</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Truth: {!Youhavereachedtheendoftheflow} 
First Name: &quot;{!FirstNameOfContact}&quot;
Other Name: {!YetAnotherNameOfContact}
Last Name: &quot;{!LastNameOfContact}&quot;.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <environments>Default</environments>
    <interviewLabel>AssignAFieldOfANullRecord {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AssignAFieldOfANullRecord</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>RetrieveNonExistentRecord</name>
        <label>RetrieveNonExistentRecord</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignNonExistentRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssistantName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DoesNotExist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Last_Element_Update_Contact</name>
        <label>Last Element: Update Contact</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <stringValue>Odessa</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RetrieveNonExistentRecord</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FirstNameOfContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Maier</stringValue>
        </value>
    </variables>
    <variables>
        <name>LastNameOfContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YetAnotherNameOfContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Mueller</stringValue>
        </value>
    </variables>
</Flow>
