data/boucle_calcul_bulletin_autolaunch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>decision_si_boucle</name>
        <label>decision si nb boucles atteint</label>
        <locationX>353</locationX>
        <locationY>264</locationY>
        <defaultConnector>
            <targetReference>reference_bulletin_sur_lequel_on_lance_les_calculs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>boucles_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_nb_boucles</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>formula_click_buttonxboucles_possibles</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>maj_bulletin_click_button</targetReference>
            </connector>
            <label>boucles &gt; 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>verifie_si_ancien_et_nouveau_brut_egaux</name>
        <label>vérifie si ancien et nouveau brut égaux</label>
        <locationX>1120</locationX>
        <locationY>353</locationY>
        <defaultConnectorLabel>[Résultat par défaut]</defaultConnectorLabel>
        <rules>
            <name>OUI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>difference_entre_ancien_et_nouveau_brut</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>difference_nouveau_net_imp_ancien_net_impo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>difference_ancien_nouveau_ch_patronales</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>diff_nouveau_nap_ancien_nap</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>maj_bulletin</targetReference>
            </connector>
            <label>OUI</label>
        </rules>
    </decisions>
    <description>Boucle calcul bulletin lancée après création</description>
    <formulas>
        <name>diff_nouveau_nap_ancien_nap</name>
        <dataType>Number</dataType>
        <expression>{!var_nap_initial}-{!var_nouveau_nap}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>difference_ancien_nouveau_ch_patronales</name>
        <dataType>Number</dataType>
        <expression>{!var_ch_patronales_initial}-{!var_nouveau_ch_patronales}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Calcule la différence de valeur entre ancien et nouveau brut</description>
        <name>difference_entre_ancien_et_nouveau_brut</name>
        <dataType>Number</dataType>
        <expression>{!brut_initial}-{!var_nouveau_brut}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>difference_nouveau_net_imp_ancien_net_impo</name>
        <dataType>Number</dataType>
        <expression>{!var_nouveau_net_imposable}-{!var_net_imp_initial}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_ajout_boucle</name>
        <dataType>Number</dataType>
        <expression>{!var_nb_boucles}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_click_button</name>
        <dataType>Number</dataType>
        <expression>{!var_click_button}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_click_buttonxboucles_possibles</name>
        <dataType>Number</dataType>
        <expression>{!var_click_button}*2</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_nb_boucles_plus_1</name>
        <dataType>Number</dataType>
        <expression>{!var_nb_boucles}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>boucle calcul bulletin autolaunch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>boucle calcul bulletin autolaunch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>reference_bulletin_sur_lequel_on_lance_les_calculs</name>
        <label>reference bulletin sur lequel on lance les calculs</label>
        <locationX>51</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>calcul_libelles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_bulletin_id</elementReference>
            </value>
        </filters>
        <object>Paie_bulletin_entete__c</object>
        <outputAssignments>
            <assignToReference>brut_initial</assignToReference>
            <field>Brut_bulletin__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ch_patronales_initial</assignToReference>
            <field>Cotisations_patronales_bulletin__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_net_imp_initial</assignToReference>
            <field>Cumul_imposable__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_fin_periode_bulletin</assignToReference>
            <field>Fin_de_periode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_nap_initial</assignToReference>
            <field>Net_bulletin_avant_impot__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_click_button</assignToReference>
            <field>tech_click_button__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_nb_boucles</assignToReference>
            <field>tech_nb_boucles_calcul__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>maj_bulletin</name>
        <label>maj bulletin</label>
        <locationX>855</locationX>
        <locationY>36</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_bulletin_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Base_complement_AF__c</field>
            <value>
                <elementReference>var_base_complement_af</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Base_complement_URSSAF_general__c</field>
            <value>
                <elementReference>var_base_cplt_URSSAF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etat__c</field>
            <value>
                <stringValue>Calculé</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tech_difference_ancien_nouveau_brut__c</field>
            <value>
                <elementReference>difference_entre_ancien_et_nouveau_brut</elementReference>
            </value>
        </inputAssignments>
        <object>Paie_bulletin_entete__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>maj_bulletin_click_button</name>
        <label>maj bulletin click button</label>
        <locationX>363</locationX>
        <locationY>54</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_bulletin_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tech_click_button__c</field>
            <value>
                <elementReference>formula_click_button</elementReference>
            </value>
        </inputAssignments>
        <object>Paie_bulletin_entete__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>maj_nb_boucles_sur_bulletin</name>
        <label>maj nb boucles sur bulletin</label>
        <locationX>611</locationX>
        <locationY>343</locationY>
        <connector>
            <targetReference>decision_si_boucle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_bulletin_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tech_nb_boucles_calcul__c</field>
            <value>
                <elementReference>formula_ajout_boucle</elementReference>
            </value>
        </inputAssignments>
        <object>Paie_bulletin_entete__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>reference_bulletin_sur_lequel_on_lance_les_calculs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>calcul_libelles</name>
        <label>calcul libelles</label>
        <locationX>121</locationX>
        <locationY>428</locationY>
        <connector>
            <targetReference>lance_calcul_bulletin</targetReference>
        </connector>
        <flowName>calcul_libelles_bulletin</flowName>
        <inputAssignments>
            <name>var_bulletin_id</name>
            <value>
                <elementReference>var_bulletin_id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_base_complement_af</assignToReference>
            <name>var_base_cplt_af</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_base_cplt_URSSAF</assignToReference>
            <name>var_base_cplt_urssaf</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_bulletin_id</assignToReference>
            <name>var_bulletin_id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>lance_calcul_bulletin</name>
        <label>lance calcul bulletin</label>
        <locationX>379</locationX>
        <locationY>525</locationY>
        <connector>
            <targetReference>lance_le_calcul_des_cumuls</targetReference>
        </connector>
        <flowName>calcul_du_bulletin</flowName>
        <inputAssignments>
            <name>var_bulletin_id</name>
            <value>
                <elementReference>var_bulletin_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_taux_abattement</name>
            <value>
                <elementReference>var_taux_abattement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SMIC_horaire_periode</name>
            <value>
                <elementReference>var_SMIC_horaire_periode</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_bulletin_id</assignToReference>
            <name>var_bulletin_id</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_nouveau_ch_patronales</assignToReference>
            <name>cumul_charges_patronales</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_nouveau_brut</assignToReference>
            <name>cumul_somme_montants_BRUT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_nouveau_nap</assignToReference>
            <name>net_payer_bulletin</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>lance_le_calcul_des_cumuls</name>
        <label>lance le calcul des cumuls</label>
        <locationX>668</locationX>
        <locationY>584</locationY>
        <connector>
            <targetReference>maj_nb_boucles_sur_bulletin</targetReference>
        </connector>
        <flowName>calcul_des_cumuls_de_bulletin</flowName>
        <inputAssignments>
            <name>var_bulletin_id</name>
            <value>
                <elementReference>var_bulletin_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_contact_id</name>
            <value>
                <elementReference>var_contact_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_contrat_salarie</name>
            <value>
                <elementReference>var_contrat_salarie</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_date_entree_salarie</name>
            <value>
                <elementReference>var_date_entree_salarie</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_date_initialisation_compteur_cp</name>
            <value>
                <elementReference>var_date_initialisation_compteur_cp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_date_initialisation_cumul_n</name>
            <value>
                <elementReference>var_date_initialisation_cumul_n</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_date_initialisation_URSSAF</name>
            <value>
                <elementReference>var_date_initialisation_URSSAF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_debut_bulletin</name>
            <value>
                <elementReference>var_debut_bulletin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_fin_periode_bulletin</name>
            <value>
                <elementReference>var_fin_periode_bulletin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_report_conges</name>
            <value>
                <elementReference>var_report_conges</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_nouveau_net_imposable</assignToReference>
            <name>somme_net_imposable</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_bulletin_id</assignToReference>
            <name>var_bulletin_id</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>brut_initial</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>cumul_boucle</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>net_payer_avant_impot</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_base_complement_af</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_base_cplt_URSSAF</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_bulletin_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ch_patronales_initial</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_click_button</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_contrat_salarie</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_date_entree_salarie</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_date_initialisation_compteur_cp</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_date_initialisation_cumul_n</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_date_initialisation_URSSAF</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_debut_bulletin</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_fin_periode_bulletin</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ind_comp_cp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_nap_initial</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_nb_boucles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_net_imp_initial</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_nouveau_brut</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_nouveau_ch_patronales</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_nouveau_nap</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_nouveau_net_imposable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_report_conges</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_SMIC_horaire_periode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_taux_abattement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
