data/Create_Contact_Conditionally.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Contact_Already_Exists</name>
        <label>Contact Already Exists</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Contacts.Birthdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <dateValue>1968-04-22</dateValue>
                </rightValue>
            </conditions>
            <label>Exists</label>
        </rules>
    </decisions>
    <interviewLabel>Create Contact Conditionally {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contact Conditionally</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>308</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssistantName</field>
            <value>
                <elementReference>$Organization.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <dateValue>1968-04-22</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CleanStatus</field>
            <value>
                <stringValue>Acknowledged</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Api.Session_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>van Hove</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCity</field>
            <value>
                <elementReference>$Profile.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Contacts</name>
        <label>Get Existing Contacts</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Already_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Birthdate</field>
            <operator>EqualTo</operator>
            <value>
                <dateValue>1968-04-22</dateValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Contacts</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
