data/Delete_Filtered_Child_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <collectionProcessors>
        <name>Filter_Paris</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Paris</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNextValueToReference>currentItem_Filter_Paris</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Child_Contacts_from_Paris</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Paris.MailingCity</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Paris</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Delete_them</targetReference>
        </connector>
    </collectionProcessors>
    <interviewLabel>Delete Filtered Child Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Filtered Child Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_them</name>
        <label>Delete them</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputReference>Filter_Paris</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Child_Contacts_from_Paris</name>
        <label>Get Child Contacts from Paris</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Paris</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child_Contacts_from_Paris</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Filter_Paris</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
