data/Flow_in_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>First_Info</name>
        <label>First Info</label>
        <locationX>754</locationX>
        <locationY>815</locationY>
        <actionName>Account.Inform_users_an_Account_has_changed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Mailing_Address_List</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Country</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Contacts_of_Account.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Fooba</name>
        <label>Fooba</label>
        <locationX>842</locationX>
        <locationY>1175</locationY>
        <actionName>Task.EditDescription</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Iterate_Mailing_Address_List</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>Iterate_Mailing_Address_List</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Contacts_of_Account.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Foobi</name>
        <label>Foobi</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <actionName>Account.Inform_users_an_Account_has_changed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Fooba</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Country</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Contacts_of_Account.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_foo_to_list</name>
        <label>Assign foo to list</label>
        <locationX>754</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>MailingAddressList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contacts_of_Account.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>First_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Country</name>
        <label>Set Country</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Germany</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Hamburg_Decision</name>
        <label>Hamburg Decision</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_from_Hamburg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hamburg</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Country</targetReference>
            </connector>
            <label>Is from Hamburg</label>
        </rules>
    </decisions>
    <interviewLabel>Flow in flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow in flow</label>
    <loops>
        <name>Contacts_of_Account</name>
        <label>Contacts of Account</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_foo_to_list</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Iterate_Mailing_Address_List</name>
        <label>Iterate Mailing Address List</label>
        <locationX>754</locationX>
        <locationY>935</locationY>
        <collectionReference>MailingAddressList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Foobi</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contacts_of_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacts_of_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Hamburg_Decision</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FooList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddressList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
