data/Learn.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <interviewLabel>Learn {!$Flow.CurrentDateTime}</interviewLabel>
    <label>All Updates and Deletes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DeleteSpecifyConditions</name>
        <label>DeleteSpecifyConditions</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteUseTheIDs</name>
        <label>DeleteUseTheIDs</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>DeleteSpecifyConditions</targetReference>
        </connector>
        <inputReference>Get_Children</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Children</name>
        <label>Get Children</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateUseTheAccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateSpecifyConditions</name>
        <label>UpdateSpecifyConditions</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>DeleteUseTheIDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateUseTheAccountId</name>
        <label>UpdateUseTheAccountId</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>UpdateUseTheIDsAndAll</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>BillingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Germany</stringValue>
            </value>
        </filters>
        <filters>
            <field>BillingCity</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hamburg</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <stringValue>Odessa</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateUseTheIDsAndAll</name>
        <label>UpdateUseTheIDsAndAll</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>UpdateSpecifyConditions</targetReference>
        </connector>
        <inputReference>Get_Children</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Children</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
