data/MethodCallsMethodsCallsMethod.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Activate_Permission_Set</name>
        <label>Activate Permission Set</label>
        <locationX>638</locationX>
        <locationY>863</locationY>
        <actionName>activateSessionPermSet</actionName>
        <actionType>activateSessionPermSet</actionType>
        <connector>
            <targetReference>Assign_something_to_c</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>PermSetName</name>
            <value>
                <stringValue>Foo</stringValue>
            </value>
        </inputParameters>
        <nameSegment>activateSessionPermSet</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_something_to_c</name>
        <label>Add something to c</label>
        <locationX>506</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>fungi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Just_checking_c_and_x</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_42_to_d</name>
        <label>Assign 42 to d</label>
        <locationX>506</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>d</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;42&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_something_to_c</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_e</name>
        <label>assign e</label>
        <locationX>374</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>e</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>e is super</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_something_to_a_and_e</name>
        <label>Assign_something_to_a_and_e</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>a</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>e</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>e is cool</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Top_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_something_to_c</name>
        <label>Assign something to c</label>
        <locationX>638</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>lustig</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Just_checking_c_and_x</name>
        <label>Just checking c and x</label>
        <locationX>506</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Activate_Permission_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_Other_way_round</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>foo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>x</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_e</targetReference>
            </connector>
            <label>Outcome 1 of Decision Other way round</label>
        </rules>
    </decisions>
    <decisions>
        <name>Top_Decision</name>
        <label>Top Decision</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Assign_42_to_d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A_is_something</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>a</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_something_to_c</targetReference>
            </connector>
            <label>A is something</label>
        </rules>
        <rules>
            <name>B_is_something</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>b</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Add_something_to_c</targetReference>
            </connector>
            <label>B is something</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>MethodCallsMethodsCallsMethod {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MethodCallsMethodsCallsMethod</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_something_to_a_and_e</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>a</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>b</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>c</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>d</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>e</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>x</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
