data/Run_Subflows.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <constants>
        <name>SomeConstantThatismycontainer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </constants>
    <constants>
        <name>SomeStringForAnInput</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Odessa</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Run Subflows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run Subflows</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calling_the_Subflow_1</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Calling_the_Subflow_1</name>
        <label>Calling the Subflow 1</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Calling_the_subflow_1_again</targetReference>
        </connector>
        <flowName>Subflow_1</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Calling_the_subflow_1_again</name>
        <label>Calling the subflow 1 again</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Calling_the_Subflow_2</targetReference>
        </connector>
        <flowName>Subflow_1</flowName>
        <inputAssignments>
            <name>InOutNumberMultiVariable</name>
        </inputAssignments>
        <inputAssignments>
            <name>InOutStringVariable</name>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SomeNumbersFromSubflow</assignToReference>
            <name>InOutNumberMultiVariable</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SomeTextOutput</assignToReference>
            <name>InOutStringVariable</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OutputOfMultiselectPicklist</assignToReference>
            <name>OutMultiselectPicklist</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Calling_the_Subflow_2</name>
        <label>Calling the Subflow 2</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <flowName>Subflow_2</flowName>
        <inputAssignments>
            <name>InOutNumberMultiVariable</name>
            <value>
                <elementReference>SomeNumberInputButMulti</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InOutStringVariable</name>
            <value>
                <elementReference>SomeStringForAnInput</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SomeNumbersFromSubflow</assignToReference>
            <name>InOutNumberMultiVariable</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SomeTextOutput</assignToReference>
            <name>InOutStringVariable</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SomeTextVariable</assignToReference>
            <name>OutMultiselectPicklist</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>OutputOfMultiselectPicklist</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SomeNumberInputButMulti</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SomeNumbersFromSubflow</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SomeTextOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SomeTextVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Fluffig</stringValue>
        </value>
    </variables>
</Flow>
