data/Text_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Common</name>
        <label>Assign Common</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>CommonVars</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ABC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommonVars</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Abel</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manipulate_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMuch</name>
        <label>AssignMuch</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>SingleText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ABC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>DEF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>GHI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Common</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Manipulate_List</name>
        <label>Manipulate List</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>TextList</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <stringValue>0123456789</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextList</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <stringValue>XYZ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextList</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <stringValue>0123456789</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextList</assignToReference>
            <operator>RemoveAfterFirst</operator>
            <value>
                <stringValue>XYZ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Fung&apos;us</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextList</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>666</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextList</assignToReference>
            <operator>RemoveBeforeFirst</operator>
            <value>
                <stringValue>Fung&apos;us</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Abel</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextList</assignToReference>
            <operator>RemoveUncommon</operator>
            <value>
                <elementReference>CommonVars</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <stringValue>Abel</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Text Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Text Assignments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignMuch</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CommonVars</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
